<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808893023338-guplpi7fmhf40lgj7r9vgf8iln4veqbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808893023338-guplpi7fmhf40lgj7r9vgf8iln4veqbt</string>
	<key>API_KEY</key>
	<string>AIzaSyDU8k7d7gusOsclIpy__4Xy58Wg31Zsh_k</string>
	<key>GCM_SENDER_ID</key>
	<string>808893023338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryde9ja.food-delivery</string>
	<key>PROJECT_ID</key>
	<string>ryde9ja-9f43b</string>
	<key>STORAGE_BUCKET</key>
	<string>ryde9ja-9f43b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808893023338:ios:de37246b77e3a83434f613</string>
</dict>
</plist>